<% @recipes.items.each do |recipe| %>
  <div class="flex flex-col items-center md:flex-row">
    <div class="shrink-0"><img class="w-36" src="<%= "https:#{recipe.photo.file['url']}" %>" alt="<%= recipe.title %>" loading="lazy"/></div>
    <div>
      <div class="flex flex-col items-center md:flex-row">
        <a href='<%= "/#{recipe.link_id}" %>'><%= recipe.title %></a>
      </div>
    </div>
  </div>
<% end %>
