---
http_interactions:
- request:
    method: get
    uri: http://cdn.contentful.com/spaces/kk2bw5ojx476/environments/master/entries/NysGB8obcaQWmq0aQ6qkC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 7ac531648a1b5e1dab6c18b0979f822a5aad0fe5f1109829b8a197eb2be4b84c
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Accept-Patch:
      - application/json-patch+json
      Etag:
      - '"554103546620652161"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries/:id"
      Contentful-Api:
      - cda
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - 4825c31b-14e1-43b4-9a07-5b7d81ea8c76
    body:
      encoding: UTF-8
      string: '{"metadata":{"tags":[]},"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"kk2bw5ojx476"}},"id":"NysGB8obcaQWmq0aQ6qkC","type":"Entry","createdAt":"2018-05-07T13:29:03.514Z","updatedAt":"2018-05-07T14:19:02.570Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"revision":2,"contentType":{"sys":{"type":"Link","linkType":"ContentType","id":"chef"}},"locale":"en-US"},"fields":{"name":"Jony
        Chives"}}

        '
  recorded_at: Wed, 31 May 2023 23:12:14 GMT
recorded_with: VCR 6.1.0
