---
http_interactions:
- request:
    method: get
    uri: http://cdn.contentful.com/spaces/kk2bw5ojx476/environments/master/entries/3RvdyqS8408uQQkkeyi26k
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 7ac531648a1b5e1dab6c18b0979f822a5aad0fe5f1109829b8a197eb2be4b84c
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Accept-Patch:
      - application/json-patch+json
      Etag:
      - '"15672309143684390467"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries/:id"
      Contentful-Api:
      - cda
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - 2a8a418c-506f-4ffd-a9c3-6fd5a0e2de6b
    body:
      encoding: UTF-8
      string: '{"metadata":{"tags":[]},"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"kk2bw5ojx476"}},"id":"3RvdyqS8408uQQkkeyi26k","type":"Entry","createdAt":"2018-05-07T13:27:45.974Z","updatedAt":"2018-05-07T13:27:45.974Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"revision":1,"contentType":{"sys":{"type":"Link","linkType":"ContentType","id":"tag"}},"locale":"en-US"},"fields":{"name":"vegan"}}

        '
  recorded_at: Wed, 31 May 2023 22:00:50 GMT
recorded_with: VCR 6.1.0
