---
http_interactions:
- request:
    method: get
    uri: http://cdn.contentful.com/spaces/kk2bw5ojx476/environments/master/assets/5mFyTozvSoyE0Mqseoos86
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 7ac531648a1b5e1dab6c18b0979f822a5aad0fe5f1109829b8a197eb2be4b84c
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"13373307143111071630"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/assets/:id"
      Contentful-Api:
      - cda
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - 6a61249b-8e89-456b-870e-a8734a3b8404
    body:
      encoding: UTF-8
      string: '{"metadata":{"tags":[]},"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"kk2bw5ojx476"}},"id":"5mFyTozvSoyE0Mqseoos86","type":"Asset","createdAt":"2018-05-07T13:31:45.501Z","updatedAt":"2018-05-07T13:31:45.501Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"revision":1,"locale":"en-US"},"fields":{"title":"SKU1479
        Hero 077-71d8a07ff8e79abcb0e6c0ebf0f3b69c","file":{"url":"//images.ctfassets.net/kk2bw5ojx476/5mFyTozvSoyE0Mqseoos86/fb88f4302cfd184492e548cde11a2555/SKU1479_Hero_077-71d8a07ff8e79abcb0e6c0ebf0f3b69c.jpg","details":{"size":230068,"image":{"width":1020,"height":680}},"fileName":"SKU1479_Hero_077-71d8a07ff8e79abcb0e6c0ebf0f3b69c.jpg","contentType":"image/jpeg"}}}

        '
  recorded_at: Wed, 31 May 2023 21:53:24 GMT
recorded_with: VCR 6.1.0
